<!DOCTYPE html>

<html>

<head>
    <link rel="icon" href="/img/DALL·E 2025-01-04 21.23.44 - A flat design weather-themed icon for a Chrome web extension. The icon features a sun partially covered by a white fluffy cloud, with a small raindrop.webp">
    <link rel="stylesheet" href="/css/styles.css">
</head>


<body>
    <div class="main-content">
        {{>header}}
        <p>{{errorMassage}}</p>
    </div>

    {{>footer}}
</body>


</html>